<div class="container content">
    <div class="row">
        <div class="col-md-6 text-primary">
            Hello
        </div>
        <div class="col-md-6 text-danger">
             World!
        </div>
    </div>
</div>